name: Node CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        node-version: [17.x]
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v2
      - uses: pnpm/action-setup@v2
        with:
          version: "latest"

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: Lint
        run: pnpm lint --max-warnings=0

      - name: Type check
        run: pnpm typecheck

      - name: Test
        run: pnpm test:ci

      - name: Build
        run: pnpm build:ssr

      - name: Copy coverage
        run: |
          cp -r coverage dist
          # Replace url path `<link href="base.css" />` to `<link href="./base.css" />`
          find ./dist/coverage/lcov-report/*.html -type f -exec sed --in-place --expression '/href="http/! s/href="/href=".\//g' {} \;
          # Replace js path `<script src="prettify.js">` to `<script src="./prettify.js">`
          find ./dist/coverage/lcov-report/*.html -type f -exec sed --in-place --expression '/src="http/! s/src="/src=".\//g' {} \;

      - name: Deploy gh-pages
        if: github.ref == 'refs/heads/master'
        # https://github.com/peaceiris/actions-gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: dist
          force_orphan: true
          disable_nojekyll: true
      # - name: Upload artifact
      #   uses: actions/upload-artifact@v1
      #   with:
      #     name: dist
